.col-frm {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
}

.col-card {
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-login {
  width: 100%;
}